APP_DEBUG=true

DB_CONNECTION=sqlite
DB_DATABASE=storage/database.sqlite

# Used when DB_CONNECTION is anything other than sqlite:
# DB_DRIVER=pdo_mysql
# DB_HOST=127.0.0.1
# DB_PORT=3306
# DB_USERNAME=root
# DB_PASSWORD=
