parameters:
    level: 5
    paths:
        - Core
        - Http
        - Database
        - View
        - Console
    ignoreErrors:
        -
            message: '#Unsafe usage of new static\(\)#'
            path: Database/Model.php
